{% extends "layout.html" %}

{% block content %}
<div class="container">
  <div class="row">
      <div class="col-lg-offset-8 sidebar">
      <label for="hotels">Hotels</label>
      <select id="hotels">
      {% for hotel in hotels %}
        <option value="{{hotel.name}}">{{hotel.name}}</option>
      {% endfor %}
      </select>

      <label for="restaurants">Restaurants</label>
      <select id="restaurants">
      {% for restaurant in restaurants %}
        <option value="{{restaurant.name}}">{{restaurant.name}}</option>
      {% endfor %}
      </select>

      <label for="activities">Activities</label>
      <select id="activities">
      {% for activity in activities %}
        <option value="{{activity.name}}">{{activity.name}}</option>
      {% endfor %}
      </select>
    </div>
  </div>
</div>
 <script>
     function myMap() {
var mapProp= {
    center:new google.maps.LatLng(51.508742,-0.120850),
    zoom:5,
};
var map=new google.maps.Map(document.getElementById("googleMap"),mapProp);
}
    </script> 
{% endblock %}