<!doctype html>
<html>
<head>
  <title>Tripplanner</title>
  <link rel="stylesheet" href="bootstrap/css/bootstrap.min.css" />
  <link rel="stylesheet" href="bootstrap/js/bootstrap.min.js" />
  <link rel="stylesheet" href="static/stylesheets/style.css" />
  <!--Stylesheets go here!-->
</head>
<body>
  <nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand"><img src="static/images/vacationlogo.png" width="20px"></a>
      </div>
      <ul class="nav navbar-nav">
        <li><a href="#" style="color:#fff; font-weight:300;">vaCATion</a></li>
        <li><a href="#">Home</a></li>
        <li><a href="#">About</a></li>
        <li><a href="#">Contact</a></li>
      </ul>
    </div>
  </nav>
  {% block content %}
  {% endblock %}
  <div id="googleMap"></div>
  <!--Scripts go here!-->
  <script src="jquery/jquery.min.js" type="text/javascript"></script>
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAT1y6t39vtYqDY-suY0TaE6B26xD0-AZY"></script>
   <script src="static/scripts/map.js"></script>

</body>
</html>
