html, body, .container {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    padding-top: 50px;
}
.sidebar {
    background-color : goldenrod;
    z-index: 100;
    position: absolute;
    height: 100%;
}

#googleMap {
    height: 100%;

}